$black-color:#000;
$white-color:#fff;
$text-color:#181818;
$p-color:#737373;
$purple-color:#6200bd;
$pink-color:#bd5ad9;
$color6d:#6d6d6d;
$colorb1:#b1b1b1;
$color5a:#5a5a5a;
$color56:#565656;
$colorca:#cacaca;
$colorf9:#f9f9f9;
$colore3:#e3e3e3;
$color46:#464646;
$colore7:#e7e7e7;
$color6d:#6d6d6d;
$family: 'Open Sans', sans-serif;
$desktop:1367px;
$mini-desktop:1200px;
$tablet:992px;
$ptablet:767px;